<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h4>Date Range Selector</h4>
        <div class="row">
            <div class="col">
                <label for="startDate">From:</label>
                <input type="date" id="startDate" class="form-control">
            </div>
            <div class="col">
                <label for="endDate">To:</label>
                <input type="date" id="endDate" class="form-control">
            </div>
            <div class="col" style="display: flex; align-items: end;">
                <button type="submit" class="btn btn-primary" onclick="filterByDate()">Filter</button>
            </div>
        </div>

        <div class="row">
            <table class="table table-bordered" id="dataTable1">
                <thead id="columns">
                
                </thead>
                <tbody id="rows">

                </tbody>
            </table>
        </div>
        
        <div class="row">
            <table class="table table-bordered" id="dataTable2">
                <thead id="columns2">
                    <tr>
                    </tr>
                </thead>
                <tbody id="rows2">

                </tbody>
            </table>
        </div>
    </div>
 
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
        const getWaybillsXML = '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">  <soap:Body><get_buyer_waybills xmlns="http://tempuri.org/">      <su>mega:405453959</su>      <sp>12345654321</sp><itypes>,1,2,3,6,</itypes><seller_tin /><statuses>,1,2,</statuses><car_number /><begin_date_s>2023-04-28T00:00:00</begin_date_s><begin_date_e>2023-04-28T23:59:59</begin_date_e><create_date_s xsi:nil="true" /><create_date_e xsi:nil="true" /><driver_tin />><delivery_date_s xsi:nil="true" /><delivery_date_e xsi:nil="true" /><full_amount xsi:nil="true" /><waybill_number /><close_date_s xsi:nil="true" /><close_date_e xsi:nil="true" /><s_user_ids /><comment /></get_buyer_waybills></soap:Body></soap:Envelope>';
        const getWaybillXML = '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><get_waybill xmlns="http://tempuri.org/"><su>mega:405453959</su><sp>12345654321</sp><waybill_id>int</waybill_id></get_waybill></soap:Body></soap:Envelope>';

        const types = ["შიდა გადაზიდვა", "ტრანსპორტირებით", "ტრანსპორტირების გარეშე", "დისტრიბუცია", "უკან დაბრუნება", "ქვე-ზედნადები"];
        const statuses = ["შენახული", "აქტივირებული", "დასრულებული"]
        const units = ["ცალი", "გრამი", "ლიტრი", "ტონა", "სანტიმეტრი", "მეტრი", "კილომეტრი", "კვ.სმ", "კვ.მ", "კუბ.მ", "მილიმეტრი", "კგ", "სხვა", "შეკვრა"]
        const parser = new DOMParser();

        async function fetchData(xml) {
            const response = await fetch("/fetch_data", {
                method: "POST",
                headers: {
                    "Content-Type": "text/xml",
                },
                body: xml,
            });
            const data = await response.json();
            return data;
        }

        function replaceDates(xmlString, newDate1, newDate2) {
            const xmlDoc = parser.parseFromString(xmlString, "application/xml");

            const dateBegineElem = xmlDoc.getElementsByTagName("begin_date_e")[0];
            const dateBeginsElem = xmlDoc.getElementsByTagName("begin_date_s")[0];

            dateBegineElem.textContent = newDate1;
            dateBeginsElem.textContent = newDate2;

            return new XMLSerializer().serializeToString(xmlDoc);
        }

        // doesnt work
        function filterByDate() {
            // const xmlDoc = parser.parseFromString(getWaybillsXML, "application/xml");
            let startDate = document.querySelector("#startDate");
            let endDate = document.querySelector("#endDate");
            let filteredXML = replaceDates(getWaybillsXML, startDate.value, endDate.value);
            fetchData(filteredXML).then((data) => {
                fillTable(data);
            });
        }

        function prepareGetwaybillXML(waybillID) {
            const xmlDoc = parser.parseFromString(getWaybillXML, "application/xml");
            const waybillIDElem = xmlDoc.getElementsByTagName("waybill_id")[0];
            waybillIDElem.textContent = waybillID;
            return new XMLSerializer().serializeToString(xmlDoc);
        }

        function fillProductsTable() {
            
        }

        function prepareWaybillData(data) {
            let keys = ["W_NAME", "UNIT_ID", "QUANTITY", "AMOUNT", "PRICE", "TOTAL_PRICE", "BAR_CODE"]
            let goodsData = data["soap:Envelope"]["soap:Body"]["get_waybillResponse"]["get_waybillResult"]["WAYBILL"]["GOODS_LIST"]["GOODS"];
            // console.log(filteredData)
            let filteredData = goodsData.map(item => {
                let newItem = {};
                keys.forEach((key) => {
                    newItem[key] = item[key];
                })
                newItem["TOTAL_PRICE"] = item["QUANTITY"] * item["PRICE"];
                return newItem;
            })
            return filteredData;
        }

        const rows = document.querySelector("#rows");
        const keys = ["ID", "TYPE", "STATUS", "SELLER_NAME", "BUYER_TIN", "FULL_AMOUNT", "END_ADDRESS", "BEGIN_DATE"];

        function fillTable(data, fields, table) {
            let filteredData = data.map(item => {
                let newItem = {};
                keys.forEach((key) => {
                    newItem[key] = item[key];
                })
                return newItem;
            })

            document.querySelector("#rows").innerHTML = "";
            for (let obj of filteredData) {
                const tbodyRow = rows.insertRow();
                obj["TYPE"] = types[parseInt(obj["TYPE"])-1];
                obj["STATUS"] = statuses[parseInt(obj["STATUS"]-1)]

                tbodyRow.addEventListener("click", () => {
                    let xml = prepareGetwaybillXML(obj["ID"]);
                    fetchData(xml).then(data => {
                        let filteredData = prepareWaybillData(data);
                        console.log(filteredData)
                        // fillProductsTable()
                    })
                })
                tbodyRow.addEventListener("mouseover", () => {
                    tbodyRow.style.backgroundColor = "#404240";
                    tbodyRow.style.cursor = "pointer";
                })
                tbodyRow.addEventListener("mouseleave", () => tbodyRow.style.backgroundColor = "white")

                for (let key in obj) {
                    content = obj[key];
                    const cell = tbodyRow.insertCell();
                    cell.textContent = content;
                }
            }
        }


        fetchData(getWaybillsXML).then((data) => {
            let thead = document.querySelector("#columns");
            let fields1 = ["ზედნადები", "ტიპი", "სტატუსი", "მომწოდებელი", "საიდენტიფიკაციო", "თანხა", "ტრანსპ. დასასრული", "დაწყ. თარიღი"];
            let preparedData = data["soap:Envelope"]["soap:Body"]["get_buyer_waybillsResponse"]["get_buyer_waybillsResult"]["WAYBILL_LIST"]["WAYBILL"];
            let theadRow = thead.insertRow();
            
            let thead2 = document.querySelector("#columns2");
            let fields2 = ["RS დასახელება", "ერთეული", "რაოდენობა", "RS ფასი", "ფასი", "ჯამი", "RS კოდი"];
            let theadRow2 = thead2.insertRow();

            fields2.forEach((field) => {
                let th = document.createElement("th");
                th.textContent = field;
                theadRow2.appendChild(th)
            })  

            fields1.forEach((field) => {
                let th = document.createElement("th");
                th.textContent = field;
                theadRow.appendChild(th)
            })
            fillTable(preparedData, fields1, document.querySelector("#dataTable1"));
        })

    </script>
</html>