<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Date Range Selector</h1>
        <div class="row">
            <div class="col">
                <label for="startDate">From:</label>
                <input type="date" id="startDate" class="form-control">
            </div>
            <div class="col">
                <label for="endDate">To:</label>
                <input type="date" id="endDate" class="form-control">
            </div>
            <div class="col" style="display: flex; align-items: end;">
                <button type="submit" class="btn btn-primary" onclick="filter()">Filter</button>
            </div>
        </div>

        <h1>Users</h1>
        <table class="table table-striped table-bordered" id="dataTable">
            <thead>
                <tr>
                    <th>Create date</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const xml = '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">  <soap:Body><get_buyer_waybills xmlns="http://tempuri.org/">      <su>mega:405453959</su>      <sp>12345654321</sp><itypes>,1,2,3,6,</itypes><seller_tin /><statuses>,1,2,</statuses><car_number /><begin_date_s>2023-04-28T00:00:00</begin_date_s><begin_date_e>2023-04-28T23:59:59</begin_date_e><create_date_s xsi:nil="true" /><create_date_e xsi:nil="true" /><driver_tin />><delivery_date_s xsi:nil="true" /><delivery_date_e xsi:nil="true" /><full_amount xsi:nil="true" /><waybill_number /><close_date_s xsi:nil="true" /><close_date_e xsi:nil="true" /><s_user_ids /><comment /></get_buyer_waybills></soap:Body></soap:Envelope>';
        

        function findSubIndex(str, substr) {
            return str.indexOf(substr) + substr.length;
        }

        function setDateFilter(str, newDateStart, newDateEnd) {
            let beginDateIndexStart = findSubIndex(str, "begin_date_s>")
            let beginDateIndexEnd = findSubIndex(str, "</begin_date_s>");
            let endDateIndexStart = findSubIndex(str, "begin_date_e>");
            let endDateIndexEnd = findSubIndex(str, "</begin_date_e>");
            
            let string1 = str.substring(0, beginDateIndexStart) + newDateStart 
            let string2 = str.substring(beginDateIndexEnd, endDateIndexStart) + newDateEnd + str.substring(endDateIndexEnd, str.length);
            return string1 + string2;
        }

        console.log(setDateFilter(xml, "date begin", "date end"))
        async function fetch_data() {
            const response = await fetch("/fetch_data", {
            method: "POST",
            headers: {
                "Content-Type": "text/xml",
            },
            body: xml,
            });
            const data = await response.json();
            console.log(data.length)
            return data;
        }

        const table = document.querySelector("#dataTable");
        fetch_data().then((data) => {
            // console.log(data)
            const headerRow = table.insertRow();
            for (let key in data[0]) {
                const headerCell = headerRow.insertCell();
                headerCell.textContent = key;
            }

            // Create a row for each object in the data array
            for (let obj of data) {
                const row = table.insertRow();
                for (let key in obj) {
                    const cell = row.insertCell();
                    cell.textContent = obj[key];
                }
            }
            data.forEach(obj => {
                const row = document.createElement('tr');
                let items = [obj["CREATE_DATE"]];
                items.forEach(item => {
                    const cell = document.createElement('td');
                    cell.textContent = item;
                    row.appendChild(cell);
                })
                // let index = 0;
                // for (key in obj) {
                //     if (index > 2) {
                //         break;
                //     };
                //     const cell = document.createElement('td');
                //     cell.textContent = obj[key];
                //     row.appendChild(cell);
                //     index++;
                // }
                // table.appendChild(row);
                // Object.values(obj).forEach(value => {
                //     const cell = document.createElement('td');
                //     cell.textContent = value;
                //     row.appendChild(cell);
                // });
                table.appendChild(row);
            })
        });

    </script>
</body>
</html>