<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <title>RS</title>
</head>
<body>
    <div class="container">
        <div class="row upper_panel d-flex justify-content-start align-items-center" style="">
            <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                <span class="d-flex justify-content-center">სტატუსები</span>
                <div class="inner_container">
                    <div>
                        <input type="checkbox" class="status" id="status_1", value="1"> 
                        <label for="status_1">აქტივირებული</span>
                    </div>
                    <div>
                        <input type="checkbox" class="status" id="status_2", value="2"> 
                        <label for="status_2">დასრულებული</span>
                    </div>
                    <div>
                        <input type="checkbox" class="status" id="status_3", value="0"> 
                        <label for="status_3">შენახული</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <span class="d-flex justify-content-center">ზედნადების ტიპები</span>
                <div class="row inner_container">
                    <div class="d-flex align-items-center" id="typesCheckboxes">
                        <div class="col-7" >
                            <div>
                                <input type="checkbox" id="inner" value="1"> 
                                <label for="inner">შიდა გადაზიდვა</label>
                            </div>
                            <div>
                                <input type="checkbox" id="transport" value="2"> 
                                <label for="transport"> ტრანსპორტირებით </label>
                            </div>
                            <div>
                                <input type="checkbox" id="without_transport" value="3"> 
                                <label for="without_transport"> ტრანსპორტირების გარ.. </label>
                            </div>
                        </div>

                        <div class="col-5">
                            <div>
                                <input type="checkbox" id="dist" value="4"> 
                                <label for="dist"> დისტრიბუცია </label>
                            </div>
                            <div>
                                <input type="checkbox" id="return" value="5"> 
                                <label for="return"> უკან დაბრუნება </label>
                            </div>
                            <div>
                                <input type="checkbox" id="sub" value="6"> 
                                <label for="sub"> ქვე-ზედნადები </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="inner_container d-flex flex-column justify-content-center" style="border: none">
                    <span class="d-flex justify-content-center" style="font-size: 1rem;">ფილტრაცია</span>
                    <div class="d-flex justify-content-center">
                        <input type="text" placeholder="" class="filter_input">
                    </div>
                    <span class="d-flex justify-content-center" style="font-size: 1rem;">ჯამი</span>
                    <div class="d-flex justify-content-center">
                        <input type="text" placeholder="" class="filter_input">
                    </div>
                </div>
            </div>

            <div class="col-md-2 d-flex flex-column justify-content-center align-items-center date_filter">
                <div>
                    <input type="date" id="startDate" style="margin: 0">
                </div>

                <button class="d-flex" style="background-color: transparent;" onclick="filterData()">
                    <img src="static/images/rs.png" width="20" height="20">
                </button>
                
                <div style="margin: 0">
                    <input type="date" id="endDate">
                </div>
            </div>

            <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                <span>ობიექტები</span>
                <div class="inner_container">
                    <select name="cars" id="cars">
                        <option value="volvo">5000</option>
                    </select>
                </div>
            </div>
        </div>
        
        <br>
        <div class="row">
            <table class="table table-bordered" id="dataTable1">
                <thead id="columns">
                
                </thead>
                <tbody id="rows">
                    
                </tbody>
            </table>
        </div>
        
        <div class="row">
            <table class="table table-bordered" id="dataTable2">
                <thead id="columns2">
                </thead>
                <tbody id="rows2">
                </tbody>
            </table>
        </div>
    </div>
 
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
        const getWaybillsXML = `<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">  <soap:Body><get_buyer_waybills xmlns="http://tempuri.org/">      <su>mega:405453959</su>      <sp>12345654321</sp><itypes>,1,2,3,6,</itypes><seller_tin /><statuses>,1,2,</statuses><car_number /><begin_date_s>${new Date().toISOString().slice(0,10)}</begin_date_s><begin_date_e>${new Date().toISOString().slice(0,10)}</begin_date_e><create_date_s xsi:nil="true" /><create_date_e xsi:nil="true" /><driver_tin />><delivery_date_s xsi:nil="true" /><delivery_date_e xsi:nil="true" /><full_amount xsi:nil="true" /><waybill_number /><close_date_s xsi:nil="true" /><close_date_e xsi:nil="true" /><s_user_ids /><comment /></get_buyer_waybills></soap:Body></soap:Envelope>`;
        const getWaybillXML = '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><get_waybill xmlns="http://tempuri.org/"><su>mega:405453959</su><sp>12345654321</sp><waybill_id>int</waybill_id></get_waybill></soap:Body></soap:Envelope>';

        const types = ["შიდა გადაზიდვა", "ტრანსპორტირებით", "ტრანსპორტირების გარეშე", "დისტრიბუცია", "უკან დაბრუნება", "ქვე-ზედნადები"];
        const statuses = ["შენახული", "აქტივირებული", "დასრულებული"]
        const units = {"1":"ცალი", "2":"კგ", "3":"გრამი", "4":"ლიტრი", "5":"ტონა", "7":"სანტიმეტრი", "8":"მეტრი", "9":"კილომეტრი", "10":"კვ.სმ", "11":"კვ.მ", "12":"კუბ.მ", "13":"მილიმეტრი",  "99":"სხვა", "14":"შეკვრა"}
        const parser = new DOMParser();
        const fields1 = ["ზედნადები", "ტიპი", "სტატუსი", "მომწოდებელი", "საიდენტიფიკაციო", "თანხა", "ტრანსპ. დასასრული", "დაწყ. თარიღი"];

        async function fetchData(xml) {
            const response = await fetch("/fetch_data", {
                method: "POST",
                headers: {
                    "Content-Type": "text/xml",
                },
                body: xml,
            });
            const data = await response.json();
            return data;
        }

        function replaceStatusesOrTypes(xmlString, statuses, field) {
            const xmlDoc = parser.parseFromString(xmlString, "application/xml");

            const elem = xmlDoc.getElementsByTagName(field)[0];
            let str = "";
            statuses.forEach(s => {
                str += "," + s
            })
            str += ",";
            elem.textContent = str;
            return new XMLSerializer().serializeToString(xmlDoc);
        }

        function replaceTypes(xmlString, types) {
            const xmlDoc = parser.parseFromString(xmlString, "application/xml");
            const statusesElem = xmlDoc.getElementsByTagName("statuses")[0];

            let typesString = "";
            types.forEach(s => {
                statusesString += "," + s
            })
            statusesString += ",";

        }

        function replaceDates(xmlString, newDate1, newDate2) {
            const xmlDoc = parser.parseFromString(xmlString, "application/xml");

            const dateBegineElem = xmlDoc.getElementsByTagName("begin_date_e")[0];
            const dateBeginsElem = xmlDoc.getElementsByTagName("begin_date_s")[0];

            dateBeginsElem.textContent = newDate1;
            dateBegineElem.textContent = newDate2;

            return new XMLSerializer().serializeToString(xmlDoc);
        }

        function filterData() {
            let startDate = document.querySelector("#startDate");
            let endDate = document.querySelector("#endDate");
            let statuses = document.querySelectorAll(".status:checked");
            let types = document.querySelectorAll("#typesCheckboxes input:checked");
            let statusesValues = [];
            let typesValues = [];
            let filteredXML = getWaybillsXML;

            if (statuses.length) {
                statuses.forEach(item => {
                    statusesValues.push(item.value);
                })
                filteredXML = replaceStatusesOrTypes(filteredXML, statusesValues, "statuses");
            }
            
            if (types.length) {
                console.log(types)
                types.forEach(item => {
                    typesValues.push(item.value);
                })
                filteredXML = replaceStatusesOrTypes(filteredXML, typesValues, "itypes");
            }

            if ((startDate.value + endDate.value).length) {
                filteredXML = replaceDates(filteredXML, startDate.value, endDate.value);
            }
            console.log(filteredXML)
            
            // if (types.length) {
            //     types.forEach(t => {
            //         typesValues.push(t.value);
            //         filteredXML = replaceTypes(filteredXML, typesValues);
            //     })
            // }
            
            fetchData(filteredXML).then((data) => {
                fillTable(prepareWaybills(data));
            });
        }

        function prepareGetwaybillXML(waybillID) {
            const xmlDoc = parser.parseFromString(getWaybillXML, "application/xml");
            const waybillIDElem = xmlDoc.getElementsByTagName("waybill_id")[0];
            waybillIDElem.textContent = waybillID;
            return new XMLSerializer().serializeToString(xmlDoc);
        }

        function fillProductsTable(data) {
            const rows2 = document.querySelector("#rows2");
            rows2.innerHTML = "";
            for (let obj of data) {
                let tbodyRow2 = rows2.insertRow();
                obj["UNIT_ID"] = units[obj["UNIT_ID"]];
                for (let key in obj) {
                    let content = obj[key];
                    let cell2 = tbodyRow2.insertCell();
                    cell2.textContent = content;
                }
            }
        }

        function prepareWaybills(data) {
            let preparedData = data["soap:Envelope"]["soap:Body"]["get_buyer_waybillsResponse"]["get_buyer_waybillsResult"]["WAYBILL_LIST"]["WAYBILL"];
            return typeof(preparedData) === "undefined" ? [] : preparedData;
        }

        function prepareWaybillData(data) {
            let keys = ["W_NAME", "UNIT_ID", "QUANTITY", "AMOUNT", "PRICE", "TOTAL_PRICE", "BAR_CODE"]
            let goodsData = data["soap:Envelope"]["soap:Body"]["get_waybillResponse"]["get_waybillResult"]["WAYBILL"]["GOODS_LIST"]["GOODS"];
            let filteredData;
            
            !Array.isArray(data) ? goodsData = [goodsData] : null;
            filteredData = goodsData.map(item => {
                let newItem = {};
                console.log(item)
                keys.forEach((key) => {
                    newItem[key] = item[key];
                })
                // this may be incorrect sometimes
                newItem["TOTAL_PRICE"] = Math.round((item["QUANTITY"] * item["AMOUNT"]) * 100) / 100;
                return newItem;
            })
            return filteredData;
        }

        const keys = ["ID", "TYPE", "STATUS", "SELLER_NAME", "BUYER_TIN", "FULL_AMOUNT", "END_ADDRESS", "BEGIN_DATE"];

        function fillTable(data) {
            let lastClicked = 0;
            !Array.isArray(data) ? data = [data] : null;
            let filteredData = data.map(item => {;
                let newItem = {};
                keys.forEach((key) => {
                    newItem[key] = item[key];
                })
                return newItem;
            })
            
            const rows = document.querySelector("#rows");
            rows.innerHTML = "";
            for (let obj of filteredData) {
                const tbodyRow = rows.insertRow();
                obj["TYPE"] = types[parseInt(obj["TYPE"])-1];
                obj["STATUS"] = statuses[parseInt(obj["STATUS"])]
                obj["BEGIN_DATE"] = obj["BEGIN_DATE"].replace("T", " ")

                tbodyRow.addEventListener("click", () => {
                    if (lastClicked) {
                        lastClicked.style.backgroundColor = "white"
                    }
                    lastClicked = tbodyRow;
                    let xml = prepareGetwaybillXML(obj["ID"]);
                    fetchData(xml).then(data => {
                        let filteredData = prepareWaybillData(data);
                        // console.log(filteredData)
                        fillProductsTable(filteredData);
                    })
                })
                tbodyRow.addEventListener("mouseover", () => {
                    tbodyRow.style.backgroundColor = "#3236392f";
                    tbodyRow.style.cursor = "pointer";
                })
                tbodyRow.addEventListener("mouseleave", () => {
                    if (tbodyRow !== lastClicked) {
                        tbodyRow.style.backgroundColor = "white"
                    }
                })

                for (let key in obj) {
                    let content = obj[key];
                    const cell = tbodyRow.insertCell();
                    // cell.classList.add("col-1")
                    cell.textContent = content;
                }
            }
        }

        fetchData(getWaybillsXML).then((data) => {
            let thead = document.querySelector("#columns");
            let theadRow = thead.insertRow();
            let thead2 = document.querySelector("#columns2");
            let fields2 = ["RS დასახელება", "ერთეული", "რაოდენობა", "RS ფასი", "ფასი", "ჯამი", "RS კოდი"];
            let theadRow2 = thead2.insertRow();

            fields2.forEach((field) => {
                let th = document.createElement("th");
                th.textContent = field;
                theadRow2.appendChild(th)
            })  

            fields1.forEach((field) => {
                let th = document.createElement("th");
                th.textContent = field;
                theadRow.appendChild(th)
            })
            
            let preparedData = prepareWaybills(data);
            fillTable(preparedData);
        })

    </script>
</html>