{% extends 'base.html' %}
{% load static %}
{% block title %} Register {% endblock %}
{% load crispy_forms_tags %}

{% block styles %} <link rel="stylesheet" href="{% static 'main.css' %}"> {% endblock %}

{% block content %}
  <form method="POST" class="form-group main">
    {% csrf_token %}
    {% for error in form.field.errors %}
      <p style="color: red;">{{ error }}</p>
    {% endfor %}
    {{form|crispy}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
{% endblock %}