<!DOCTYPE html>
{% load static %}
<html>  
    <head>

        
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'homepage/mainstyles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    </head>
    
    <body>
        <div class="maincontainer">
            <div class="head">
                
                {% if user.is_authenticated %}
                    <nav>
                        <a href="/" ><div>Home</div></a>
                        <a href="/post/create_post"><div>Create Post</div></a>                                       
                    </nav>
                    
                    
                    <h1>Message Board</h1>                            
       
                    <div class="status"> You are logged in as: 
                                <div class="username"> {{ user.username }} </div>
                                    <form class="logout" action="/account/logout/" method="post">
                                    {% csrf_token %}
                                    <button class="button2" type="submit">Log Out</button>
                                </form>
                    </div>   
                {% else %}
                    <nav>
                        <a href="/" ><div>Home</div></a> 
                        <a href="/account/register/" ><div>Register</div></a>
                        <a href="/account/login/"><div>Log In</div></a> 
                                  
                    </nav>  
                
                 
                    <h1>Message Board</h1>
                    <div class="status1">You are not logged in </div>
                        
              
                         
                {% endif %} 
                
           </div>
    
            {% block title %}        
                        
            {% endblock %}
            
            {% block content %}
            {% endblock %}
            
            <footer></footer>
        </div>
       
        
    </body>
    
</html>
