{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'register/loginstyles.css' %}">
    <div class="maincontainer">
        <div class="content">
    
            <h2>Log In</h2>
            <form method="POST" class="log">
                {% csrf_token %}
                {% for i in form %}
                    <div class="form_container">
                        {{ i.label }}:<br>
                        {{ i }}
                    </div>
                {% endfor %}
           
                <div style="width:250px">{{ form.non_field_errors }}</div>
                
                {% if request.GET.next %}
                    
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    
                {% endif %}
                <button type="submit" class="button1">Log In</button>
            </form>
            
        </div>
    </div>
{% endblock %}  